<!DOCTYPE>
<html lang="pt-br"
		xmlns="http://www.w3.org/1999/xhtml" >
		
	<head>
	<meta charset="utf-8" />
		<title>Desafio Accenture</title>
	</head>
	
	<body>
				
		<h1>Desafio Accenture</h1>
		<form action="index_submit" method="post" accept-charset="utf-8">
			<fieldset>
				<input type="email" name="email" placeholder="E-mail..." />
				<input type="password" name="senha" placeholder="Senha..." />
				<input type="button" value="Entrar" />	
			</fieldset>
		</form>
		<br/>
		
	</body>
</html>